body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Adicionado para evitar rolagem */
}

.app-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  overflow-y: auto; /* Adicionado para permitir rolagem interna */
  max-height: 90vh; /* Adicionado para garantir que o conteúdo não ultrapasse a altura da tela */
}

h1 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #357ab8;
}

.button-label {
  display: flex;
  align-items: center;
}
